<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Noros</title>
  <link rel="icon" href="images/icon.png">
  <link rel="stylesheet" href="css/index.min.css" />
</head>


<body>
  
  {% include 'module/_header/_header.html' %}

  <main class="main">
    {% include 'module/_top-slider/_top-slider.html' %}
    
    {% include 'module/_categories-info/_categories-info.html' %}

    {% include 'module/_promo/_promo.html' %}

    {% include 'module/_product/_product.html' %}
    
    {% include 'module/_video-fashion/_video-fashion.html' %} 

    {% include 'module/_blog/_blog.html' %}
  </main>
  
  {% include 'module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>